.formContainer {
  --accentColor: #4ea524;
  --errorColor: crimson;
  --disabledColor: lightgrey;
  width: 400px;
  padding: 40px;
  padding: 30px;
  font-size: 20px;
  border-radius: 12px;
  box-shadow: 3px 3px 12px rgba(0, 0, 0, 0.2);

  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    .field {
      display: flex;
      align-items: start;

      & > :first-child {
        flex: 0 0 100px;
        font-weight: bold;
        font-size: 18px;
        line-height: 28px;
      }

      & > :last-child:not([type="checkbox"]) {
        flex: 1;
      }

      .inputContainer {
        display: flex;
        flex-direction: column;
        gap: 4px;
      }

      .error {
        color: var(--errorColor);
        font-weight: bold;
        font-size: 12px;
      }

      &:last-of-type {
        align-items: center;
        & > :first-child {
          line-height: 18px;
        }
      }
    }

    input {
      height: 28px;
      border: 1px solid #777;
      border-radius: 4px;
      outline: none;

      &:focus {
        border-color: var(--accentColor);
      }
      &:has(+ .error) {
        border-color: var(--errorColor);
      }
      &:disabled {
        border-color: var(--disabledColor);
      }
      &[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        cursor: pointer;
        width: 20px;
        height: 20px;
        margin: 0;

        &:checked {
          background-color: var(--accentColor);
          border: 1px solid var(--accentColor);
          color: #fff;

          &::before {
            content: "\2713";
            display: block;
            text-align: center;
          }
        }
      }
    }

    button {
      width: 230px;
      padding: 8px;
      border: none;
      border-radius: 4px;
      background-color: var(--accentColor);
      color: #fff;
      font-size: 20px;
      align-self: center;
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }

      &:disabled {
        background-color: var(--disabledColor);
        pointer-events: none;
      }
    }
  }
}
